.signup-banner
    background-image: radial-gradient(circle at 0 100%, #6585b0, #2e4469)

    .container
        background-image: url('https://laracasts.com/images/call-to-action/left-upper-illustration.svg'), url('https://laracasts.com/images/call-to-action/lower-right-illustration.svg')
        background-repeat: no-repeat
        background-position: 0 0, 100% 100%
