html, body {
    font-family: "Open Sans", sans-serif;
}

.card {
    box-shadow: rgba(36, 37, 38, 0.2) 4px 4px 15px 0px;
    height: 258px;
    width: 475px;
}

.card-left {
    background: linear-gradient(180deg, #6edcc4, #1aab8b);
}
