html, body {
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 10px;
    box-shadow: rgba(36, 37, 38, 0.2) 4px 4px 15px 0px;
    display: flex;
    height: 258px;
    width: 475px;
}

.card-left, .card-right {
    padding: 20px;
}

.card-left {
    align-items: center;
    background: linear-gradient(180deg, #6edcc4, #1aab8b);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card-left > img {
    max-width: 100%;
}

.card-difficulty {
    font-size: 0.8em;
}

.card-skill-button {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 9999px;
    color: inherit;
    font-size: 0.7em;
    padding: 3px 25px;
    text-decoration: none;
}

.card-right {
    color: #888;
    display: flex;
    flex-direction: column;
}

.card-title {
    color: #222;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.card-title > a {
    color: inherit;
    text-decoration: none;
}

.card-excerpt {
    flex: 1;
}

.card-meta {
    display: flex;
    font-size: 0.8em;
}

.card-meta > div:first-child {
    margin-right: 1em;
}

.card-meta > div {
    align-items: center;
    display: flex;
}

.card-meta > div > i {
    margin-right: 8px;
}
