header {
    background-image: linear-gradient(to right, #a25b5b, #692e4c);
}

header h1 {
    font-size: 1.6em;
    margin-top: 0;
}

.header-top {
    color: white;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    padding-bottom: 50px;
}

.header-top a {
    color: inherit;
}
